.input-field {
  display: flex;
  height: 2.5rem; 
  width: 100%;
  border-radius: var(--radius); 
  border: 1px solid var(--input);
  background-color: var(--background);
  padding: 0.5rem 0.75rem; 
  font-size: 1rem; 
  color: var(--foreground);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .input-field {
    font-size: 0.875rem;
  }
}

.input-field::file-selector-button {
  border: 0;
  background-color: transparent;
  font-size: 0.875rem; 
  font-weight: 500; 
  color: var(--foreground);
  cursor: pointer;
}

.input-field::placeholder {
  color: var(--muted-foreground);
}

.input-field:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--background), 0 0 0 4px var(--ring);
}

.input-field:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}