.resizable-group {
  display: flex;
  height: 100%;
  width: 100%;
}

.resizable-group[data-panel-group-direction="vertical"] {
  flex-direction: column;
}

.resizable-handle {
  position: relative;
  display: flex;
  width: 1px;
  align-items: center;
  justify-content: center;
  background-color: var(--border);
}

/* Resize handle hit area expansion */
.resizable-handle::after {
  content: "";
  position: absolute;
  inset-block: 0;
  left: 50%;
  width: 0.25rem;
  transform: translateX(-50%);
}

.resizable-handle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--background), 0 0 0 2px var(--ring);
}

/* Vertical orientation overrides */
.resizable-handle[data-panel-group-direction="vertical"] {
  height: 1px;
  width: 100%;
}

.resizable-handle[data-panel-group-direction="vertical"]::after {
  left: 0;
  height: 0.25rem;
  width: 100%;
  transform: translateY(-50%);
}

.resizable-handle[data-panel-group-direction="vertical"] > .resizable-handle-inner {
  transform: rotate(90deg);
}

/* Handle Icon Wrapper */
.resizable-handle-inner {
  z-index: 10;
  display: flex;
  height: 1rem;
  width: 0.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.125rem;
  border: 1px solid var(--border);
  background-color: var(--border);
}

.resizable-handle-icon {
  height: 0.625rem;
  width: 0.625rem;
}